body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 0, 0.5),
    rgba(0, 0, 255, 0.5),
    rgba(255, 0.5, 0)
  );
  color: #ffffff;
}

input 
{
  border-spacing: 4px;
  width: 200px;
  align-self: auto;
}



hr { 
  border-style: dotted solid;
  border-bottom: none;
  border-right: none;
  border-left: none;
  color: rgba(0, 0, 0, 0.589);
  border-width: 8px;
  width: 8%;
}

table {
  column-width: 5px;
  column-gap: 500px;
}

h3 {
  color: #7512d1;
}
h2 {
  color: #1edf8e;
}

h4
{
  color: rgb(0, 132, 255);
}